<button class="btn btn-lg btn-outline-primary mt-2" (click)="open(Add)">Add Consumer</button>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Full Name</th>
			<th scope="col">Email</th>			
            <th scope="col"></th>

		</tr>
	</thead>
	<tbody>
		@for (consumer of consumers; track consumer.fullName; let i = $index) {
			<tr >
				<th scope="row">{{ consumer.id }}</th>
				<td>{{ consumer.fullName  }}</td>
				<td>{{ consumer.email }}</td>
                <td><button class="btn btn-md btn-outline-success mt-2" (click)="open(AddTransaction,consumer)">Add Transaction</button>&nbsp;<button class="btn btn-md btn-outline-success mt-2" (click)="open(Details,consumer)">Consumer Details</button></td>


			</tr>
		}
	</tbody>
</table>


<ng-template #Details let-c="close" let-d="dismiss">
	<div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{selectedConsumer?.fullName}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="card" style="width: 24rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{selectedConsumer?.email}}</h6>
    
    <h6 class="mt-4">Transactions:</h6>
    <ul class="list-group list-group-flush" >
      <li *ngFor="let transaction of selectedConsumer?.transactions" class="list-group-item">Transaction #{{transaction.id}} - ${{transaction.amount}}</li>
    </ul>
  </div>
</div>
	</div>
</ng-template>

<ng-template #Add let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add Consumer</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
<form #AddConsumerForm="ngForm" (ngSubmit)="onSubmitCreateConsumer(AddConsumerForm)">
  <div class="form-group mb-3">
    <label for="fullName">Full Name</label>
    <input
      type="text"
      id="fullName"
      name="fullName"
      class="form-control"
      ngModel
      required
      placeholder="Enter full name"
    />
   </div>

  <div class="form-group mb-3">
    <label for="email">Email address</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      ngModel
      required
      email
      placeholder="name@example.com"
    />
  </div>
 

  <button type="submit" class="btn btn-primary" [disabled]="AddConsumerForm.invalid">
    Submit
  </button>
</form>
	</div>
</ng-template>

<ng-template #AddTransaction let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add Consumer</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
<form #AddTransactionForm="ngForm" (ngSubmit)="onSubmitAddTransaction(AddTransactionForm)">
  <div class="form-group mb-3">
    <label for="amount">Amount</label>
    <input
      type="number"
      id="amount"
      name="amount"
      class="form-control"
      ngModel
      required
    />
   </div>
  <button type="submit" class="btn btn-primary" [disabled]="AddTransactionForm.invalid">
    Submit
  </button>
</form>
	</div>
</ng-template>